body {
  background-color: lightblue;
  text-align: left;
}
h1 {
  color: white;
  text-align: center;
  font-size: 350%;
  text-decoration: underline;
}
a {
  text-decoration: none;
}
img {
	position: absolute;
    right: 100px;
}
p {
	font-size: 145%;
	 font-family: Arial, Helvetica, sans-serif;
}
#img2 {
	position: absolute;
    right: 275px;
}
ul {
	font-size: 125%
}

.hidden {
	visibility : hidden
}
